@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 12px;
  padding: 1;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
    text-align: center;
    /* background:rgb(177, 199, 233); */
    background: rgb(83 18 94);
    max-width: 400px;
    /* width: 100%; */
    margin: 81px auto;
    /* padding: 25px; */
    border-radius: 27px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}

table{
    margin: auto;
}


body{
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  padding: 10px;
  /* background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%); */
  background: linear-gradient(#e19de9 0%, #f1ebeb 100%)
}

button{
    font-size: 34px;
    width: 45px;
    height: 45px;
    background-color: rgb(129, 126, 225);
    color: aliceblue;
    border-radius: 12px;
    font-size: 25px;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: aliceblue;
    transition: 0.5s ease-in-out;
}

input{
    font-size: 21px;
    border: 5px solid black;
    width: 320px;
    border-radius: 10px;
    padding: 11px 7px;
    margin: auto;
}

